@model WingtipToys.Models.Category
@{
    ViewData["Title"] = "Edit Category";   
    Layout =  "/Views/Shared/_Layout.cshtml";   
    string ErrMessage =  ViewBag.ErrMessage as string;       
}
<partial name="_StatusMessage" model=@ErrMessage></partial>
<div class="row">
    <div class="col-md-8">
        <form method="post" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>       
            
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea  rows="3" asp-for="Description" class="form-control">@Model.Description</textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br />              
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br/>
<div>
    <a asp-action="Index">Categories List</a>
</div>
