@model WingtipToys.Areas.ProductManager.ProductManegerModel
@{
    ViewData["Title"] = "Create new product";   
    Layout =  "/Views/Shared/_Layout.cshtml";     
    var list = ViewData["categories"] as MultiSelectList;
    var errMessage  = ViewData["StatusMessage"] as string;     
}
<partial name="_StatusMessage" model=@errMessage></partial>

<h4>Create new product</h4>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>

             <div class="form-group py-2">
                <label>Category</label>
                @Html.DropDownList("categoryID",list,new { @class="form-select w-100"})
            </div>        

            <div class="form-group py-2">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>

            <div class="form-group py-2">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            
            <div class="form-group py-2">
                <label asp-for="FileUpload" class="control-label"></label>
                <input type="file" asp-for="FileUpload" name="FileUpload" class="form-control" />
                <span asp-validation-for="UpLoadFileName" class="text-danger"></span>
            </div>

            <div class="form-group py-2">
                <label asp-for="Description" class="control-label"></label>
                <textarea rows="5" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div> 

            <div class="form-group py-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br/>
<div>
    <a asp-action="Index">Products List</a>
</div>
