@page "/error-confirm-email"
@{
    ViewData["Title"] = "Error Confirm Email";
}

<h1>@ViewData["Title"].</h1>
<div>
    <p>
        Opp! something wrong about confirm Email!
        Please try again!
    </p>
</div>